astropy==3.0.3
coverage==4.5.1
certifi==2018.4.16
click==6.7
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
pip==10.0.1
pytest==3.6.0
python-dateutil==2.7.3
python-irodsclient==0.8.0
requests==2.18.4
setuptools==39.2.0
six==1.11.0
urllib3==1.22
werkzeug==0.14.1
wheel==0.31.1
